flow-nodered-serre.json
[{"id":"fa15b7d7.05a5d8","type":"tab","label":"GreenHouseCtrl","disabled":false,"info":""},{"id":"3d8ec3ac.ca602c","type":"serial in","z":"fa15b7d7.05a5d8","name":"Arduino","serial":"d621d4ee.325c08","x":70,"y":360,"wires":[["c223bef1.3431b"]]},{"id":"8ee2a26d.f45bb","type":"function","z":"fa15b7d7.05a5d8","name":"Tri messages","func":"var inmsg = msg.payload.split(\":\");\nif(inmsg[0]==\"Temperature\"){\n    var temperature = {payload:inmsg[1]};\n    var t = inmsg[1];\n}\nif(inmsg[0]==\"Humidity\"){\n    var humidity = {payload:inmsg[1]};\n    var h = inmsg[1];\n}\nif(inmsg[0]==\"time\"){\n    var heatTime = {payload:inmsg[1]};\n}\nif(inmsg[0]==\"TemperatureGraph\"){\n    var tGraphe = {payload:inmsg[1]};\n}\n\nreturn [temperature,humidity,heatTime,temperature,{t,h}];","outputs":5,"noerr":0,"x":100,"y":980,"wires":[[],[],[],[],[]]},{"id":"539378f4.5e5a18","type":"ui_gauge","z":"fa15b7d7.05a5d8","name":"Temperature","group":"8cc26199.fc063","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"degré C","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":140,"wires":[]},{"id":"c0bb9fbd.c9d88","type":"ui_gauge","z":"fa15b7d7.05a5d8","name":"Humidité","group":"8cc26199.fc063","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidité","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ca3838","#00b500","#3e38ca"],"seg1":"50","seg2":"70","x":920,"y":280,"wires":[]},{"id":"696e0adb.d39fb4","type":"ui_chart","z":"fa15b7d7.05a5d8","name":"Temperature","group":"83f78dba.774a3","order":3,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":990,"y":80,"wires":[[]]},{"id":"b7abef08.5efe4","type":"function","z":"fa15b7d7.05a5d8","name":"Date Temp Humidity","func":"var d=new Date();\nvar day=d.getDate();\nvar month=d.getMonth();\nvar year=d.getFullYear();\nif(day<=9)\nday=\"0\"+day;\nif(month<=9)\nmonth=\"0\"+(month+1);\nvar fileName= year+\"-\"+month+\"-\"+day;\n\nvar date = Date();\nmsg.filename = \"/home/pi/Documents/Stats_serre/T-H_serre\"+ fileName +\".log\";\nvar payload = {time:date, payload1:msg.payload.temperature, payload2:msg.payload.humidity};\n\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":400,"wires":[["51e4c60d.801a98","d9370c84.9983e"]]},{"id":"51e4c60d.801a98","type":"csv","z":"fa15b7d7.05a5d8","name":"","sep":";","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":990,"y":400,"wires":[["8e5b779d.7a6898"]]},{"id":"d9370c84.9983e","type":"debug","z":"fa15b7d7.05a5d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":960,"y":680,"wires":[]},{"id":"2846c2e2.18c72e","type":"function","z":"fa15b7d7.05a5d8","name":"Commande ventilation","func":"if(global.get(\"TempMax\") === 0){\n    global.set(\"TempMax\",24);\n}\n\nif(msg.payload>=global.get(\"TempMax\")){\n    var outmsg = {payload:\"Ventilation: ON\"};\n    var outstate = {payload:\"1\"};\n}\nelse{\n    var outmsg = {payload:\"Ventilation: OFF\"};\n    var outstate = {payload:\"0\"};\n}   \nreturn [outmsg,outstate];","outputs":2,"noerr":0,"x":1200,"y":280,"wires":[["a1941486.ef2fe8"],["725ab08f.09f8e"]]},{"id":"2bd43838.ee8a98","type":"serial out","z":"fa15b7d7.05a5d8","name":"Arduino","serial":"d621d4ee.325c08","x":1600,"y":300,"wires":[]},{"id":"a1941486.ef2fe8","type":"delay","z":"fa15b7d7.05a5d8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1420,"y":260,"wires":[["69dc0af2.adb804"]]},{"id":"69dc0af2.adb804","type":"ui_text","z":"fa15b7d7.05a5d8","group":"42de272c.42a268","order":4,"width":0,"height":0,"name":"Etat ventilation","label":"","format":"{{msg.payload}}","layout":"col-center","x":1630,"y":220,"wires":[]},{"id":"ab398d19.d4e7a","type":"change","z":"fa15b7d7.05a5d8","name":"","rules":[{"t":"set","p":"TempMax","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":500,"wires":[[]]},{"id":"d93ee60b.144888","type":"ui_slider","z":"fa15b7d7.05a5d8","name":"","label":"Temperature seuil","tooltip":"","group":"42de272c.42a268","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"50","step":1,"x":110,"y":500,"wires":[["ab398d19.d4e7a","bf75bb6f.548538"]]},{"id":"bf75bb6f.548538","type":"ui_text","z":"fa15b7d7.05a5d8","group":"42de272c.42a268","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}} °C","layout":"col-center","x":300,"y":560,"wires":[]},{"id":"8e5b779d.7a6898","type":"file","z":"fa15b7d7.05a5d8","name":"Save to file","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1150,"y":400,"wires":[[]]},{"id":"725ab08f.09f8e","type":"delay","z":"fa15b7d7.05a5d8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1420,"y":300,"wires":[["2bd43838.ee8a98","b95c1562.257408"]]},{"id":"b95c1562.257408","type":"debug","z":"fa15b7d7.05a5d8","name":"out state","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1590,"y":380,"wires":[]},{"id":"a6c6763f.9fc7f8","type":"join","z":"fa15b7d7.05a5d8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":350,"y":360,"wires":[["73beb316.7e4d1c","be9c9d93.0b644","88015cf.b17daa"]]},{"id":"c223bef1.3431b","type":"function","z":"fa15b7d7.05a5d8","name":"Ajout topic","func":"var inmsg = msg.payload.split(\":\");\nif(inmsg[0]==\"Temperature\"){\n    msg.topic = \"temperature\"\n    msg.payload = inmsg[1];\n}\nif(inmsg[0]==\"Humidity\"){\n    msg.topic = \"humidity\"\n    msg.payload = inmsg[1];\n}\nif(inmsg[0]==\"time\"){\n    msg.topic = \"time\"\n    msg.payload = inmsg[1];\n}\nif(inmsg[0]==\"TemperatureGraph\"){\n    msg.topic = \"TemperatureGraph\"\n    msg.payload = inmsg[1];\n}\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":360,"wires":[["a6c6763f.9fc7f8"]]},{"id":"73beb316.7e4d1c","type":"delay","z":"fa15b7d7.05a5d8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":560,"y":400,"wires":[["b7abef08.5efe4"]]},{"id":"be9c9d93.0b644","type":"function","z":"fa15b7d7.05a5d8","name":"Temperature: Conversion Float","func":"var outmsg = {payload:parseFloat(msg.payload.temperature)};\nreturn outmsg;","outputs":1,"noerr":0,"x":610,"y":160,"wires":[["696e0adb.d39fb4","539378f4.5e5a18","2846c2e2.18c72e"]]},{"id":"88015cf.b17daa","type":"function","z":"fa15b7d7.05a5d8","name":"Humidity: Conversion Float","func":"var outmsg = {payload:parseFloat(msg.payload.humidity)};\nreturn outmsg;","outputs":1,"noerr":0,"x":600,"y":280,"wires":[["c0bb9fbd.c9d88"]]},{"id":"73574c69.b83bc4","type":"mqtt in","z":"fa15b7d7.05a5d8","name":"","topic":"temperature_serre_bas","qos":"2","broker":"ef014ecf.0424d","x":120,"y":740,"wires":[["dc03d7e3.2f2338"]]},{"id":"4dbe83b5.76ad7c","type":"mqtt in","z":"fa15b7d7.05a5d8","name":"","topic":"humidity_serre_bas","qos":"2","broker":"ef014ecf.0424d","x":110,"y":860,"wires":[["91cd176d.63b388"]]},{"id":"70c2e633.c3f778","type":"function","z":"fa15b7d7.05a5d8","name":"Extraction donnee","func":"var outmsg = {payload:parseFloat(msg.payload.temperature)};\nreturn outmsg;","outputs":1,"noerr":0,"x":470,"y":740,"wires":[["8ab27d3d.9cb04"]]},{"id":"dc03d7e3.2f2338","type":"json","z":"fa15b7d7.05a5d8","name":"","property":"payload","action":"","pretty":false,"x":290,"y":740,"wires":[["70c2e633.c3f778"]]},{"id":"8ab27d3d.9cb04","type":"ui_gauge","z":"fa15b7d7.05a5d8","name":"Temperature serre sous sol","group":"a712836a.7bafe","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"degré C","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":740,"wires":[]},{"id":"91cd176d.63b388","type":"json","z":"fa15b7d7.05a5d8","name":"","property":"payload","action":"","pretty":false,"x":290,"y":860,"wires":[["a6567719.dea788"]]},{"id":"a6567719.dea788","type":"function","z":"fa15b7d7.05a5d8","name":"Extraction donnee","func":"var outmsg = {payload:parseFloat(msg.payload.humidity)};\nreturn outmsg;","outputs":1,"noerr":0,"x":470,"y":860,"wires":[["b0d177f1.78a2d8"]]},{"id":"b0d177f1.78a2d8","type":"ui_gauge","z":"fa15b7d7.05a5d8","name":"Humidité serre sous sol","group":"a712836a.7bafe","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidité","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ca3838","#00b500","#3e38ca"],"seg1":"50","seg2":"70","x":730,"y":860,"wires":[]},{"id":"d621d4ee.325c08","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"8cc26199.fc063","type":"ui_group","z":"","name":"Serre salon","tab":"67c74b85.61ffa4","order":1,"disp":true,"width":"6","collapse":false},{"id":"83f78dba.774a3","type":"ui_group","z":"","name":"Evolution de la temperature","tab":"875c45d7.742478","order":2,"disp":true,"width":"27","collapse":false},{"id":"42de272c.42a268","type":"ui_group","z":"","name":"Controles","tab":"67c74b85.61ffa4","order":3,"disp":true,"width":"6","collapse":false},{"id":"ef014ecf.0424d","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a712836a.7bafe","type":"ui_group","z":"","name":"Serre sous-sol","tab":"67c74b85.61ffa4","order":2,"disp":true,"width":"6","collapse":false},{"id":"67c74b85.61ffa4","type":"ui_tab","z":"","name":"Serre","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"875c45d7.742478","type":"ui_tab","z":"","name":"Stats chauffage","icon":"dashboard","order":3,"disabled":true,"hidden":false}]